/* CSS */
@import url("foundation.css");

@import url("main.css");

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

body {
  background-image: none !important;
  background-color: #fff !important;
  font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif !important;
}

body, h1, h2, h3, h4, h5, p, div, a {
	font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif !important;
}

#layout_wrapper {
  min-width: 980px;
  max-width: 1200px;
}

#layout_page {
  margin: 15px 0px 0px;
}

#layout_page #tabs li a img {
  display: none;
}

#layout_content {
  margin: 0px;
}

section#courseware {
  margin: 0px;
  border: 1px solid #c0c0c0;
  border-radius: 3px;
  min-height: 500px;
}

section#courseware .breadcrumb {
  display: none;
}

section#courseware .mode-switch {
	border-radius: 0 !important;
	border-left: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
}

section#courseware .mode-switch button {
	box-shadow: none !important;
	border-radius: 0 !important;
	border: none !important;
	background-color: #efefef !important;
}

section#courseware .mode-switch button.student {
	background-image: url("../../../../assets/images/icons/32/grey/headache.png") !important;
}

section#courseware .mode-switch button.author {
	background-image: url("../../../../assets/images/icons/32/grey/doctoral_cap.png") !important;
	border-top-right-radius: 3px !important;
}

section#courseware.view-student > .mode-switch .student, section#courseware.view-author > .mode-switch .author {
	background-color: #8DCEE6 !important;
}

section#courseware.view-student > .mode-switch .student {
	background-image: url("../../../../assets/images/icons/32/white/headache.png") !important;
}

section#courseware.view-author > .mode-switch .author {
	background-image: url("../../../../assets/images/icons/32/white/doctoral_cap.png") !important;
}



section#courseware ol.chapters {
  padding: 0 !important;
  background: #efefef;
  border-right: 1px solid #c0c0c0;
  height: 100%;
  width: 280px !important;
}

section#courseware ol.chapters a {
  color: #555;
}

section#courseware ol.chapters > li {
	border-bottom: 2px solid #fff !important;
}

section#courseware ol.chapters > li > .title {
	background: none !important;
	border-bottom: none !important;
}

section#courseware ol.chapters > li > .title > a {
  padding: 15px 30px !important;
  width: 100% !important;
  display: block !important;
  font-size: 1em !important;
  background-image: url("../../../../assets/images/icons/16/grey/arr_1right.png");
	background-repeat: no-repeat;
	background-position: 17px center; 
	background-size: 7px 7px;
}

section#courseware ol.chapters > li > .title > a:hover {
  background-color: #DCDCDC !important;
}

section#courseware ol.chapters > li > .title > a {
  padding: 15px 30px !important;
  width: 100% !important;
  display: block !important;
  font-size: 1em !important;
  background-image: url("../../../../assets/images/icons/16/grey/arr_1right.png");
	background-repeat: no-repeat;
	background-position: 17px center; 
	background-size: 7px 7px;
}

section#courseware ol.chapters li.selected {
  background-color: #8DCEE6 !important;
}

section#courseware ol.chapters li.selected > .title > a {
  background-image: url("../../../../assets/images/icons/16/grey/arr_1down.png");
  color: #000 !important;
}

section#courseware ol.chapters li.selected > .title > a:hover {
	background-color: #8DCEE6 !important;
}

section#courseware ol.chapters li.selected ol.subchapters {
  margin: 0 5px 20px 30px !important;
  padding: 0px !important; 
}

section#courseware ol.chapters li.selected > .subchapters a {
  display: block !important; 
  width: 100% !important;
  font-size: 1.2em !important;
  margin: 2px 0px;
  color: #000 !important;
}

section#courseware ol.chapters li.selected > .subchapters a:hover {
  background-color: rgba(255,255,255,0.3) !important;
}

section#courseware ol.chapters li.selected > .subchapters .title {
  border: none !important;
}

section#courseware ol.chapters li.selected > .subchapters .title:hover {
  background: none !important;
}

section#courseware ol.chapters li.selected > .subchapters > li.selected a {
  background-color: rgba(255,255,255,0.6) !important;
  background-image: none !important;
}

section#courseware ol.chapters li.selected > .subchapters > li.selected > .title {
  background: none !important;
  font-weight: normal !important;
}


/* ////////// */

section#courseware ol.active-subchapter {
	padding: 30px 10px 10px 0px !important;
}

section#courseware ol.active-subchapter li > a {
	border-radius: 0 !important;
	width: 45px !important;
	height: 45px !important;
}

section#courseware ol.active-subchapter li {
	width: 45px !important;
	height: 45px !important;
}

section#courseware ol.active-subchapter li.controls {
	width: auto !important;
	height: 45px !important;
}

section#courseware ol.active-subchapter li.controls button {
	height: 45px !important;
}

section#courseware .active-subchapter > li > .edit-structure {
	margin: 0;
	height: 45px;
}

section#courseware .active-subchapter > li > .edit-structure input {
	position: relative;
	z-index: 9999;
}

section#courseware ol.active-subchapter .prev, section#courseware ol.active-subchapter .prev a {
	border-radius: 50% 0 0 50% !important;
}

section#courseware ol.active-subchapter .prev {
	background-image: url("../../../../assets/images/icons/32/grey/arr_1left.png") !important;
}

section#courseware ol.active-subchapter .prev a {
	background-image: url("../../../../assets/images/icons/32/black/arr_1left.png") !important;
}

section#courseware ol.active-subchapter .next, section#courseware ol.active-subchapter .next a {
	border-radius: 0 50% 50% 0 !important;
}

section#courseware ol.active-subchapter .next {
	background-image: url("../../../../assets/images/icons/32/grey/arr_1right.png") !important;
}

section#courseware ol.active-subchapter .next a {
	background-image: url("../../../../assets/images/icons/32/black/arr_1right.png") !important;
}

section#courseware ol.active-subchapter .prev, section#courseware ol.active-subchapter .prev a, section#courseware ol.active-subchapter .next, section#courseware ol.active-subchapter .next a {
	background-color: #DDDDDD !important;
	background-size: 15px 15px !important;
}

section#courseware ol.active-subchapter li.visited > a {
	background-color: #eeeeee !important;
}

section#courseware ol.active-subchapter li.visited > a:hover {
	background-color: #ffffff !important;
}

section#courseware ol.active-subchapter li.selected > a {
	background-color: #fff !important;
}


section#courseware ol.active-subchapter li > a[data-icon=""] {
  background-image: url("../../../../assets/images/icons/32/grey/infopage.png") !important;
}
section#courseware ol.active-subchapter li > a[data-icon="chat"] {
  background-image: url("../../../../assets/images/icons/32/grey/chat.png") !important;
}
section#courseware ol.active-subchapter li > a[data-icon="document"] {
  background-image: url("../../../../assets/images/icons/32/grey/infopage.png") !important;
}
section#courseware ol.active-subchapter li > a[data-icon="task"] {
  background-image: url("../../../../assets/images/icons/32/grey/question.png") !important;
}
section#courseware ol.active-subchapter li > a[data-icon="video"] {
  background-image: url("../../../../assets/images/icons/32/grey/video.png") !important;
}

section#courseware ol.active-subchapter li.selected > a[data-icon=""] {
  background-image: url("../../../../assets/images/icons/32/grey/infopage.png") !important;
}
section#courseware ol.active-subchapter li.selected > a[data-icon="chat"] {
  background-image: url("../../../../assets/images/icons/32/grey/chat.png") !important;
}
section#courseware ol.active-subchapter li.selected > a[data-icon="document"] {
  background-image: url("../../../../assets/images/icons/32/grey/infopage.png") !important;
}
section#courseware ol.active-subchapter li.selected > a[data-icon="task"] {
  background-image: url("../../../../assets/images/icons/32/grey/question.png") !important;
}
section#courseware ol.active-subchapter li.selected > a[data-icon="video"] {
  background-image: url("../../../../assets/images/icons/32/grey/video.png") !important;
}






h1, h2, h3, h4 {
  border: none;
}
/* HEADER */
/* studip Header */
#flex-header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9998;
  width: 100%;
  display: none !important;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.5);
}

#barTopStudip {
  display: none;
}

#openStudipNavigation {
  position: absolute;
  top: 15px;
  left: 25px;
  min-width: 30px;
}

#openStudipNavigation .navigationButton {
  width: 100%;
  height: 4px;
  margin: 5px 0px;
  background: #efefef;
  border-radius: 3px;
}

#openStudipNavigation:hover #flex-header {
  display: block !important;
}

#openStudipNavigation:hover .navigationButton {
  background-color: #aaa;
}

#header_slim {
  padding: 10px 0px;
}

#header_slim .logo_slim {
  float: left;
  margin: 0px 10px 0px 13px;
  padding-right: 20px;
  font-size: 0.9em;
  position: relative;
  height: 35px;
}

#header_slim .logo_slim img {
  height: 47px;
}

/*
#header_slim .logo_slim:before {
  content: "";
  display: block;
  height: 35px;
  position: absolute;
  right: 3px;
  top: 0;
  width: 1px;
  background-image: linear-gradient(180deg, rgba(200, 200, 200, 0) 0%, #c8c8c8 50%, rgba(200, 200, 200, 0));
}

#header_slim .logo_slim:after {
  content: "";
  display: block;
  height: 35px;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
}
*/

#header_slim h2 {
  color: #646464;
  display: block;
  float: left;
  font-size: 0.9em;
  font-weight: 600;
  letter-spacing: 0;
  margin-bottom: 0;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 0 1px 0 #fff;
  text-transform: none;
  white-space: nowrap;
  width: 750px;
}
/* OHN Globale Navigation */

.user_menu {
	float: right;
	position: relative;
	top: 5px;
}

.user_menu .user_dropdown, .user_menu .user_button {
	background: transparent;
	border: 1px solid #c8c8c8;
	display: block;
	float: left;
}

.user_menu .user_button {
	border-radius: 3px 0px 0px 3px;	
	font-size: 14px;
	position: relative;
	font-weight: bold;
	color: #3c3c3c;
	padding: 6px 12px 8px 35px;
	background-image: url("../../../../assets/images/icons/32/grey/home.png");
	background-size: 14px 14px;
	background-position: 10px center;
	background-repeat: no-repeat;
}

.user_menu .user_dropdown {
	border-radius: 0px 3px 3px 0px;	
	font-size: 14px;
	position: relative;
	font-weight: bold;
	color: #3c3c3c;
	padding: 6px 8px 8px;
	border-left: none;
}

.user_menu .user_dropdown img {
	width: 14px;
	height: 14px;
}

.user_menu ul {
	display: none;
	list-style: none;
	border: 1px solid #555;
	border-radius: 3px;
	padding: 0px 10px;
	background: #fff;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	position: absolute;
	right: 0;
	top: 40px;
	min-width: 180px;
	z-index: 9999;
}

.user_menu ul li a {
	padding: 5px;
	font-size: 16px;
	margin: 5px 0;
	display: block;
	color: #1d9dd9;
	border-bottom: 1px dotted #c8c8c8;
}

.user_menu ul li a:hover {
	color: #3c3c3c;
}

.user_menu ul li:last-child a {
	border: none;
}

.ohn-logo {
	margin-top: 5px;
	margin-right: 10px;
}

.ohn-logo img {
	height: 20px;
	padding-right: 10px;
}


.helpbar-container {
	display: none;
}

.login_button {
	background: none repeat scroll 0 0 #126f9a;
  box-shadow: 0 2px 1px 0 #0a4a67;
  color: #fff !important;
  border: medium none;
  border-radius: 2px;
  line-height: 16px;
  font-weight: 600;
  font-size: 16px !important;
  letter-spacing: 0;
  padding: 10px 20px;
  text-align: center;
  text-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  transition: color 0.25s ease-in-out 0s, background 0.25s ease-in-out 0s, box-shadow 0.25s ease-in-out 0s;
}

.login_button:hover {
	background-color: #1790C7;
}

.ohn-global nav {
	padding: 4px 0px 0px;
}

.ohn-global ol {
  padding-left: 0;
}

.ohn-global .nav-global li {
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  margin-left: 20px;
}

.ohn-global nav ol.nav-global.left {
  margin-top: 10px;
}

.ohn-global nav ol.nav-courseware.right {
 margin-top: 5px;
}

.ohn-global nav ol.nav-courseware.right > li {
 float: left;
}

.ohn-global ol.nav-global.left li a {
  color: #646464;
  font-size: 12px !important;
  letter-spacing: 1px;  
}

.ohn-global ol.nav-global.left li a:hover {
  color: #1D9DD9 !important;
}

.ohn-global ol li:first-child {
  margin-left: 0;
}
/* OHN Header */
#barBottomLeft, #barBottommiddle, #barBottomright {
  background-color: #8DCEE6;
 /* #E3F3F8 */
  color: #222;
}

#barBottommiddle:before {
  background-color: transparent;
  background-image: none;
}

#barBottomright:before {
  background-image: none;
}

#barBottomright a, #layout_footer a {
  color: #222;
}

#layout_footer .footer_navigation_sec a img {
  width: 20px !important;
  height: 20px !important;
}

input.quicksearchbox {
  height: 19px;
}

#notification_marker {
  height: 19px;
}

#barBottomContainer {
  box-shadow: none;
}

.tab-icon {
  width: 16px !important;
  height: 16px !important;
}

#tabs {
  position: relative;
  margin-bottom: 30px;
}

#tabs li {
  background-color: #fff;
 /* #E3F3F8; */
  border: none;
}

#tabs li:hover, #tabs li:hover a {
  color: #333;
  background: transparent !important;
}

#tabs li:last-child {
  border: 1px solid #ddd;
}

#tabs a, #tabs span.quiet {
  color: #555;
  font-size: 14px;
  padding: 5px 13px 7px;
}

#tabs2 {
  background-color: #FFF;
 /* #EFEFEF */
  margin-top: -1px;
}

#layout_container {
  background-color: #FFF;
 /* #EFEFEF */;
}

#tabs li.current a, #tabs li.current a:hover {
  background-color: #666666 !important;
 /* #EFEFEF */
  color: #fff;
}

#tabs li.current a, #tabs li.current:hover {
  background-color: #666666 !important;
 /* #EFEFEF */
  color: #fff;
}

#tabs li.current {
  border-bottom: 1px solid #fff !important;
}
/* ##### MOOC ##### */
section#courseware ol.active-subchapter {
  z-index: 9999;
}

.title h1 {
  margin: 0;
}

section#courseware section.active-section {
  width: 46em !important;
}

dl, menu, ol, ul {
  margin: 0;
}

section#courseware section.active-section {
  margin-top: 40px;
}
/* ##### SIDEBAR ##### */

#layout-sidebar {
	margin-right: 25px !important;
}

#layout_sidebar, #layout_infobox, .infobox, .infobox-img > div {
  width: 100% !important;
}

#layout_sidebar {
  padding: 12px 0px 0px 12px;
  border: none;
}

.sidebar-image {
	display: none;
}

section.sidebar, .sidebar-widget-content {
	border: none;
}


.infobox {
  border: none;
  background-color: #EEF5DD;
  margin-bottom: 0px;
}

table.infobox td, .infoboxrahmen, table tr.even, table tr.alt, table tr:nth-of-type(2n), table tr.even, table tr.alt, table tr, table.infobox td.infobox-img, table {
  background: transparent;
}

table {
  border: none;
}


/* ##### FOOTER ##### */

#layout_footer {
  background-color: #efefef;
  border: none;
  height: auto;
  text-align: left;
  padding: 25px 50px 25px;
  margin-top: 50px;
}

#footer {
  margin: 0px 10px !important;
  line-height: 25px;
}

#barBottomright ul, #layout_footer .footer_navigation_main {
  line-height: normal;
  float: none;
  margin: 5px 0px 20px;
}

#layout_footer .footer_navigation_main li {
  margin-right: 15px;
}

#layout_footer .footer_navigation_main li a {
  color: #333;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

#layout_footer .footer_about {
  width: 66.66%;
}

#layout_footer .footer_logos {
  width: 25%;
  float: left;
  text-align: center;
  padding: 10px;
}

#layout_footer .footer_logos a {
  margin: 0;
}

#layout_footer .footer_logos a img {
  margin: 8px 0px;
  width: 100%;
}

#layout_footer p {
  border-left: 1px solid #ccc;
  float: left;
  font-size: 0.8125em;
  margin-left: 30px;
  padding-left: 30px;
  width: 60%;
  color: #3c3c3c;
}

#layout_footer .footer_navigation_sec ul {
  float: right;
  margin-top: -10px;
}

#layout_footer .footer_navigation_sec ul li {
  float: left;
}

#layout_footer .footer_navigation_sec ul li a {
  color: #1d9dd9;
}



/* ALL COURSES */

#course-list article {
	border-bottom: 4px solid #f5f5f5 !important;
  margin: 0px !important;
  padding: 0px !important;
  height: 192px;
}

#course-list article:last-child {
	border-bottom: none !important;
}

#course-list article h1 {
	margin: 0;
	color: #1d9dd9;
	font-size: 34px;
	padding: 24px 0px 10px;
}

#course-list article .course-avatar-wrapper {
	float: left;
	width: 300px !important;
	max-width: 300px !important;
	height: auto !important;
	padding: 24px 0px;
	margin-right: 15px;
}

#course-list article .course-avatar-medium {
	padding: 0px !important;
	float: none !important;
	max-width: 260px !important;
	max-height: 140px !important;
	width: auto !important;
	height: auto !important;
}

#course-list article .button, #mooc-courses-show .button, #mooc-registrations-index .button, .start-widgetcontainer .portal-widget-list .button {
	 background-clip: padding-box;
    background-color: #8dcee6;
    background-image: none;
    border: 1px solid #5ea2bb;
    border-radius: 3px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    float: left;
    font: 15px/1.6rem "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
    letter-spacing: 0;
    margin-top: 16px;
    padding: 6px 32px 7px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #076794;
    bottom: 0px !important;
    left: 0px !important;
    transition: all 0.25s ease-in-out;
}

#course-list article .button:hover, #mooc-courses-show .button:hover, #mooc-registrations-index .button:hover, .start-widgetcontainer .portal-widget-list .button:hover {
	background-color: #5DC0E3;
}

#course-list article .button {
	left: 315px !important;
	bottom: 24px !important;	
	display: block !important;
}


/* LOGIN PAGE */

.index_container {
	background: none repeat scroll 0 0 #fff;
  box-sizing: border-box;
  margin: 0 auto;
  width: 960px !important;
}

.logintable {
	background-image: none !important;
	box-shadow: none !important;
	border: none !important;
}

.logintable h1 {
	color: #1790c7;
  font-size: 26px !important;
  line-height: 26.64px !important;
  text-transform: uppercase !important;
}

.logintable p {
	color: #707276;
  font-size: 20px;
  margin: 0px 0px 30px 0px !important;
  padding-left: 40px !important;
  padding-bottom: 20px !important;
	border-bottom: 1px solid #8a8c8f;
  text-transform: none;
}

.logintable form {
	padding-bottom: 0px !important;
}

.logintable form table {
	width: 70% !important;
}

.logintable form td {
	display: block !important;
}

.logintable form tr td:first-child {
	font-weight: 700 !important;
	font-size: 15px !important;
}

.logintable form input {
	margin: 0;
  padding: 10px 15px;
  width: 100%;
  border-radius: 0;
  border: 1px solid #C8C8C8;
  color: #3c3c3c;
  display: block;
  font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px !important;
  height: auto;
}

.logintable form table tfoot {
	background: transparent !important;
}

.logintable form table tfoot button {
	font-weight: 600 !important;
	font-size: 16px !important;
  letter-spacing: 0 !important;
  text-transform: none;
  vertical-align: middle;
  background: none repeat scroll 0 0 #126f9a;
  box-shadow: 0 2px 1px 0 #0a4a67;
  color: #fff;
  border: medium none;
  padding: 10px 20px;
  text-align: center;
  text-shadow: none;
}

.logintable form table tfoot button:hover {
	background-color: #1790C7 !important;
}

.logintable form table tfoot button:before {
	margin: 3px 9px 0px -4px !important;
}

.logintable form table tfoot a.button {
	display: none !important;
}


/* Sub Pages */



#mooc-datenschutz, #mooc-nutzungsbedingungen, #mooc-impressum, #mooc-kontakt, #mooc-faq, #mooc-ueberuns, #mooc-ohnkursportal, #mooc-kurse, #mooc-projektpartner {
	width: 960px !important;
	margin: 0px auto;
}

#mooc-datenschutz h1, #mooc-nutzungsbedingungen h1, #mooc-impressum h1, #mooc-kontakt h1, #mooc-faq h1, #mooc-ueberuns h1, #mooc-ohnkursportal h1, #mooc-kurse h1, #mooc-projektpartner h1 {
	border-bottom: 1px solid #8a8c8f;
  color: #1790c7;
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: 26px !important;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: 300 !important;
  line-height: 26.64px !important;
  padding: 50px 30px 20px;
  text-align: left;
}

#mooc-datenschutz h2, #mooc-nutzungsbedingungen h2, #mooc-impressum h2, #mooc-kontakt h2, #mooc-faq h2, #mooc-ueberuns h2 {
	color: #646464;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-top: 30px;
  text-transform: uppercase;
}

#mooc-datenschutz ul, #mooc-nutzungsbedingungen ul, #mooc-impressum ul, #mooc-kontakt ul, #mooc-faq ul, #mooc-ueberuns ul, #mooc-ohnkursportal ul {
	margin: 1em 0;
  padding: 0 0 0 40px;
}

#mooc-datenschutz ul li, #mooc-nutzungsbedingungen ul li, #mooc-impressum ul li, #mooc-kontakt ul li, #mooc-faq ul li, #mooc-ueberuns ul li, #mooc-ohnkursportal ul li {
	margin: 15px 50px;
}

#mooc-datenschutz a, #mooc-nutzungsbedingungen a, #mooc-impressum a, #mooc-kontakt a, #mooc-ueberuns a {
	color: #1d9dd9;
	font-size: 14px !important;
}

#mooc-kurse .list_item, #mooc-projektpartner .list_item {
	border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

#mooc-kurse .list_item:last-child, #mooc-projektpartner .list_item:last-child {
	border-bottom: none !important;
}

#mooc-kurse .list_item img, #mooc-projektpartner .list_item img {
	float: left;
  height: auto;
  max-width: 20%;
  padding: 5px 1% 20px;
  box-sizing: content-box;
}

#mooc-kurse .list_item p, #mooc-projektpartner .list_item p {
	float: left;
	padding: 0 1%;
	margin: 0 0 20px !important;
	width: 76%;
	box-sizing: content-box;
}

#mooc-ohnkursportal img {
	float: right;
  padding-bottom: 20px;
  padding-left: 20px;
  width: 40%;
}

/* start page */

#start_page .banner {
	background-color: #8dcee6;
	width: 100%;
	padding: 25px;
}

#start_page .banner_inner {
	background-color: rgb(247,252,253);
	border: 1px solid #000; 
	padding: 20px 30px;
	margin: 80px; 
	box-shadow: 10px 20px 30px grey;
	min-width: 775px;
}

#start_page .banner_inner h1 {
	margin: 0px 0px 25px;
}

.banner_logo {
	float: right;
	margin-top: -120px;
}

#start_page .banner_inner h3 {
	margin: 15px 0px 0px;
}

#start_page #start_kurse {
	width: 960px;
	margin: 55px auto 0px;
}

#start_page #start_kurse .list_item {
	padding: 0px;
	margin: 20px 0px;
	border: 1px solid #bbb;
	position: relative;
}

#start_page #start_kurse .list_item:hover {
	border-color: #1d9dd9;
}

#start_page #start_kurse .list_item .header {
	border-bottom: 1px solid #bbb;
	background-color: #fcfcfc;
	display: block;
	transition: all 0.25s ease-in-out;
}

#start_page #start_kurse .list_item .header:hover h1{
	color: #1d9dd9;
}

#start_page #start_kurse .list_item .header h1 {
	padding: 0px 20px;
	line-height: 50px;
	margin: 0;
	font-weight: 700;
	font-size: 1em;
	transition: all 0.25s ease-in-out;
}

#start_page #start_kurse .list_item .header span {
	display: block;
	width: 50px;
	height: 50px;
	border-left: 2px solid #ddd;
	float: right;
	background-image: url("../../../../assets/images/icons/32/grey/arr_1right.png");
	background-repeat: no-repeat;
	background-position: center center; 
	background-size: 15px 15px;
	text-indent: -9999px;
}

#start_page #start_kurse .list_item .list_item_inner {
	padding: 1px;
}

#start_page #start_kurse .list_item .list_item_inner p {
	margin: 0;
	padding: 10px 0px;
}

#start_page #start_kurse .list_item .list_item_image {
	float: left;
	margin-right: 15px;
	width: 300px;
	position: relative;
}

#start_page #start_kurse .list_item .list_item_image img {
	max-width: 300px;
	max-height: 170px;
}

#start_page #start_kurse .list_item .list_item_image .date {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #000;
	color: #fff;
	font-size: 11px;
	font-style: italic;
	padding: 3px 6px;
}

#start_page #start_kurse .list_item .footer {
	display: block;
	position: absolute;
	bottom: 10px;
	right: 10px;
	color: #fff;
	background-clip: padding-box;
  background-color: #8dcee6;
  background-image: none;
  border: 1px solid #5ea2bb;
  border-radius: 3px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset;
  box-sizing: border-box;
  font: 15px/1.6rem "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
  letter-spacing: 0;
  margin-top: 16px;
  padding: 6px 32px 7px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px 0 #076794;
  transition: all 0.25s ease-in-out;
}

#start_page #start_kurse .list_item .footer:hover {
	background-color: #5DC0E3;
}

/* Registration */

#mooc-registrations-index #layout_container #layout_container {
	width: 960px;
	margin: 0px auto;
}

#mooc-registrations-index #layout_container #layout_container #layout_content {
	width: 600px;
	margin-right: 40px;
}

#mooc-registrations-index #layout_container #layout_container #layout_content h1 {
	border-bottom: 1px solid #8a8c8f;
  color: #1790c7;
  font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: 26px !important;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: 300 !important;
  line-height: 32px !important;
  padding: 50px 30px 20px;
  text-align: left;
}

#mooc-registrations-index #layout_container #layout_container #layout_content form, #mooc-registrations-index #layout_container #layout_container #layout_sidebar {
	font-size: 16px;
	line-height: 24px;
	color: #333;
}

#mooc-registrations-index #layout_container #layout_container #layout_content form label {
	font-weight: 700;
	display: block;
	margin-top: 20px;
	margin-bottom: 5px;
}

#mooc-registrations-index #layout_container #layout_container #layout_content form input, 
#mooc-registrations-index #layout_container #layout_container #layout_content form textarea, 
#mooc-registrations-index #layout_container #layout_container #layout_sidebar form input {
	margin: 0;
	padding: 10px 15px;
	width: 100%;
	color: #3c3c3c;
	font-weight: 500;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1) inset;
	font-size: 15px;
	background-color: #fff;
	border: 1px solid #c8c8c8;
	line-height: 22px;
}

#mooc-registrations-index #layout_container #layout_container #layout_content form input:focus, 
#mooc-registrations-index #layout_container #layout_container #layout_content form textarea:focus, 
#mooc-registrations-index #layout_container #layout_container #layout_sidebar form input:focus {
	border-color: #0686bf;
}

#mooc-registrations-index #layout_container #layout_container #layout_sidebar form input {
	margin-bottom: 10px;	
}

#mooc-registrations-index #layout_container #layout_container #layout_content form #mooc_sign_up_terms_of_service {
	display: inline-block !important;
	width: 40px !important;
}

.tos input {
	width: auto !important;
	margin: 15px 0px 0px !important;
	display: inline-block !important;
}

#mooc-registrations-index #layout_container #layout_container #layout_content form label[for="mooc_sign_up_terms_of_service"] {
	display: inline-block !important;
}

#mooc-registrations-index #layout_container #layout_container #layout_sidebar {
	padding-top: 158px;
}


/* DASHBOARD */

.start-widgetcontainer .portal-widget-list .ui-widget-content {
	background: transparent !important;
	border: none !important;
}

.start-widgetcontainer .portal-widget-list:last-child {
	display: none;
}

.start-widgetcontainer .portal-widget-list .ui-widget-content .widget-header {
	border-bottom: 1px solid #8a8c8f;
	background: transparent !important;
	color: #1790c7;
	font-family: "Helvetica Neue","Helvetica","Arial",sans-serif;
	font-feature-settings: normal;
	font-kerning: auto;
	font-language-override: normal;
	font-size: 26px !important;
	font-size-adjust: none;
	font-stretch: normal;
	font-style: normal;
	font-synthesis: weight style;
	font-variant: normal;
	font-weight: 300 !important;
	line-height: 26.64px !important;
	padding: 50px 30px 20px;
	text-align: left;
}

.start-widgetcontainer .portal-widget-list .ui-widget-content article .widget_image_wrapper {
	float: left;
	width: 25%;
}

.start-widgetcontainer .portal-widget-list .ui-widget-content article .widget_image_wrapper img {
	max-width: 100%;
	max-height: 100px;
	width: auto !important;
	height: auto !important;
}

.start-widgetcontainer .portal-widget-list .ui-widget-content .description{
	display: block;
  float: left;
  width: 75%;
}

.start-widgetcontainer .portal-widget-list .ui-widget-content .description h1{
	display: block;
  font-family: "Open Sans",Verdana,Geneva,sans-serif,sans-serif;
  font-size: 34px;
  font-weight: 400;
  line-height: 42px;
  margin-bottom: 10px;
  color: #1d9dd9;
}

#layout-sidebar .sidebar .sidebar-widget {
	border: none;
}

#layout-sidebar .sidebar .sidebar-widget a {
	color: #1d9dd9;
}

#layout-sidebar .sidebar .sidebar-widget .sidebar-widget-header {
	background: transparent !important;
	color: #646464;
}




